@use '@/assets/scss/colors.scss' as colors;

$color-primary: colors.$primary;
$color-secondary: colors.$secondary;
$color-danger: colors.$danger;

$light-color: colors.$g1;

$border-radius: 5px;
$border-width: 2px;

$default-border-width: ($border-width - 1);
$default-border-radius: solid;
$default-border-color: colors.$g2;

$lightBorder: $default-border-width $default-border-radius $default-border-color;

@mixin lightBorderRadius {
    border-radius: ($border-radius - 2);
}
