@use '@/assets/scss/colors.scss' as colors;

$color-primary: green;
$color-secondary: blue;
$color-danger: red;

$light-color: colors.$g1;

$border-radius: 5px;
$border-width: 2px;


@mixin lightBorderRadius {
    border-radius: ($border-radius - 2);
}

@mixin lightBorders {
    border-width: ($border-width - 1);
    border-style: solid;
}
